
/* Split the screen in half */
.disabled {
  background-color: Red;
  color: DimGray;
  opacity: 0.75;
}

.enabled {
  background-color: DeepPink;
  color: Black;
  opacity: 1;
}

.selected {
  border-color: LightPink;
}

.notSelected {
  border-color: DarkRed;
}


/* Control the left side */
.left {
  left: 4vw;
}

/* Control the right side */
.right {
  right: 4vw;
}

/* Control the middle */
.middle {
  left: 36vw;
}

/* Control the right side */
.rightLeft {
  right: 27.5vw;
}

/* If you want the content centered horizontally and vertically */
.centered {
  text-align: center;
}

/*
.divBase {
  box-sizing: content-box;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  border-style: solid;
  border-width: 2vMin;
  border-radius: 3vMin;
  font-family: helvetica;
  font-weight: bold;
}
*/

.divBase {
   position: fixed;
   z-index: 1;
   overflow-x: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}


.turnOffButton { 
  height: 18vh;
  width: 68vw;
  top: 2vh;
  left: 4vw;
}

.volumeUpButton { 
  height: 8vh;
  width: 22vw;
  top: 2vh;
  right: 4vw;
}
.volumeDownButton { 
  height: 8vh;
  width: 22vw;
  top: 12vh;
  right: 4vw;
}

.row1NoSplit { 
  height: 12vh;
  width: 60vw;
  top: 34vh;
  left: 20vw;
}

.row2NoSplit { 
  height: 12vh;
  width: 60vw;
  top: 54vh;
  left: 20vw;
}

.row1DualSplit { 
  height: 9vh;
  width: 45vw;
  top: 22vh;
}

.row2DualSplit {
  height: 9vh;
  width: 45vw;
  top: 32vh;
}

.row3DualSplit {
  height: 9vh;
  width: 45vw;
  top: 42vh;
}

.row4DualSplit { 
  height: 9vh;
  width: 45vw;
  top: 52vh;
}

.row5DualSplit {
  height: 9vh;
  width: 45vw;
  top: 62vh;
}

.row6DualSplit {
  height: 9vh;
  width: 45vw;
  top: 72vh;
}

.row1TrippleSplit { 
  height: 12vh;
  width: 28vw;
  top: 25vh;
}

.row2TrippleSplit { 
  height: 12vh;
  width: 28vw;
  top: 40vh;
}

.lightButtonsOverlay { 
  height: 28vh;
  width: 70vw;
  top: 27vh;
  left: 15vw;
}

.curtainsOverlay { 
  height: 57vh;
  width: 80vw;
  top: 20vh;
  left: 10vw;
}

.cpbBase {
  box-sizing: content-box;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  border: none;
}

.imgButton {
   background-size: 100% 100%;
}

