
/* Split the screen in half */
.disabled {
  background-color: Red;
  color: DimGray;
  opacity: 0.75;
}

.enabled {
  background-color: DeepPink;
  color: Black;
  opacity: 1;
}

.selected {
  border-color: LightPink;
}

.notSelected {
  border-color: DarkRed;
}


/* Control the left side */
.left {
  left: 4vw;
}

/* Control the right side */
.right {
  right: 4vw;
}

/* Control the middle */
.middle {
  left: 36vw;
}

/* Control the right side */
.rightLeft {
  right: 27.5vw;
}

/* If you want the content centered horizontally and vertically */
.centered {
  text-align: center;
}

/*
.divBase {
  box-sizing: content-box;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  border-style: solid;
  border-width: 2vMin;
  border-radius: 3vMin;
  font-family: helvetica;
  font-weight: bold;
}
*/

.divBase {
   position: fixed;
   z-index: 1;
   overflow-x: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
}


.turnOffButton { 
  height: 18vh;
  width: 68vw;
  top: 2vh;
  left: 4vw;
}

.volumeUpButton { 
  height: 8vh;
  width: 22vw;
  top: 2vh;
  right: 4vw;
}
.volumeDownButton { 
  height: 8vh;
  width: 22vw;
  top: 12vh;
  right: 4vw;
}

.row1NoSplit { 
  height: 12vh;
  width: 60vw;
  top: 34vh;
  left: 20vw;
}

.row2NoSplit { 
  height: 12vh;
  width: 60vw;
  top: 54vh;
  left: 20vw;
}

.row1DualSplit { 
  height: 9vh;
  width: 45vw;
  top: 22vh;
}

.row2DualSplit {
  height: 9vh;
  width: 45vw;
  top: 32vh;
}

.row3DualSplit {
  height: 9vh;
  width: 45vw;
  top: 42vh;
}

.row4DualSplit { 
  height: 9vh;
  width: 45vw;
  top: 52vh;
}

.row5DualSplit {
  height: 9vh;
  width: 45vw;
  top: 62vh;
}

.row6DualSplit {
  height: 9vh;
  width: 45vw;
  top: 72vh;
}

.row1TrippleSplit { 
  height: 12vh;
  width: 28vw;
  top: 25vh;
}

.row2TrippleSplit { 
  height: 12vh;
  width: 28vw;
  top: 40vh;
}

.row3TrippleSplit { 
  height: 12vh;
  width: 28vw;
  top: 55vh;
}

.row4TrippleSplit { 
  height: 12vh;
  width: 28vw;
  top: 70vh;
}

.row5TrippleSplit { 
  height: 12vh;
  width: 28vw;
  top: 85vh;
}

.row6TrippleSplit { 
  height: 12vh;
  width: 28vw;
  top: 72vh;
}

.row1Vol { 
  height: 12vh;
  width: 60vw;
  top: 38vh;
  left: 20vw;
}

.row2Vol { 
  height: 8vh;
  width: 28vw;
  top: 59vh;
}

.row3Vol { 
  height: 12vh;
  width: 28vw;
  top: 72vh;
}


.lightButtonsOverlay { 
  height: 28vh;
  width: 70vw;
  top: 27vh;
  left: 15vw;
}

.curtainsOverlay { 
  height: 57vh;
  width: 80vw;
  top: 20vh;
  left: 10vw;
}

.cpbBase {
  box-sizing: content-box;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  border: none;
}

.imgButton {
   background-size: 100% 100%;
}

.myInput {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: red;
  border: 5px solid darkred;
  border-radius: 4vh;
  border-radius: 4vh;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
}

.selectBig {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: red;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%234d4d4d' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position: top 50% right;
  border: 5px solid darkred;
  border-radius: 4vh;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
}

.selectSmall {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: red;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%234d4d4d' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position: top 50% right;
  border: 0.5vw solid darkred;
  border-radius: 4vh;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
}

.myButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.ticketFeature {
   font-family: Arial;
   font-size: 6vmin;
   font-weight: bold;
}

.ticketStartsAt {
   font-family: Arial;
   font-size: 5vmin;
   font-weight: bold;
}

.durationLabel {
   font-family: Arial;
   font-size: 3vmin;
   font-weight: bold;
}

.durExLabel {
   font-family: Arial;
   font-size: 4vmin;
   font-weight: bold;
}



