
/* Split the screen in half */
.disabled {
  background-color: Red;
  color: DimGray;
  opacity: 0.75;
}

.enabled {
  background-color: DeepPink;
  color: Black;
  opacity: 1;
}

.selected {
  border-color: LightPink;
}

.notSelected {
  border-color: DarkRed;
}


/* Control the left side */
.left {
  left: 4vw;
}

/* Control the right side */
.right {
  right: 4vw;
}

/* If you want the content centered horizontally and vertically */
.centered {
  text-align: center;
}


.divBase {
  box-sizing: content-box;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  border-style: solid;
  border-width: 2vMin;
  border-radius: 3vMin;
  font-family: helvetica;
  font-weight: bold;
}


.row1DualSplit { 
  height: 18vh;
  width: 40vw;
  top: 2vh;
  font-size: 4vMin;
}

.row2DualSplit {
  height: 18vh;
  width: 40vw;
  top: 25vh;
  font-size: 4vMin;
}

.row3DualSplit {
  height: 18vh;
  width: 40vw;
  top: 48vh;
  font-size: 4vMin;
}

.row4DualSplit {
  height: 18vh;
  width: 40vw;
  top: 71vh;
  font-size: 4vMin;
}

.cpbBase {
  box-sizing: content-box;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  border: none;
}

